@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
  box-shadow: 0 0 0 1px currentColor;
}

.custom-shadow-md {
  box-shadow: 1px 2px 2px hsl(220deg 20% 5% / 0.75),
    2px 4px 4px hsl(220deg 20% 5% / 0.75), 3px 6px 6px hsl(220deg 20% 5% / 0.75);
}

.title {
  font-size: clamp(3.5rem, -0.875rem + 8.333333vw, 20rem);
}

.description {
  font-size: clamp(1rem, 3vw, 2rem);
}

.responsive-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .responsive-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
